certifi==2023.5.7 ; python_version >= '3.6'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
idna==3.4 ; python_version >= '3.5'
pydub==0.25.1
requests==2.31.0 ; python_version >= '3.7'
speechrecognition==3.10.0
urllib3==2.0.3 ; python_version >= '3.7'

# YOUR MACHINE MUST ALSO HAVE FFMPEG INSTALLED
